.account {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.account .home-row {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	justify-content: flex-start;
}
.login .home-row {
	align-items: flex-end;
}
.signup .home-row {
	align-items: flex-start;
}
.acc-row {
	width: calc((100vw - 768px) * 291 / 1032 + 239px); /* 530 -> 239 @1800 -> 768*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.acc-row:not(.acc-title) {
	row-gap: calc((100vw - 768px) * 16 / 1032 + 14px); /* 30 -> 14 @1800 -> 768*/
}
.acc-title .ps-title {
	font-size: calc((100vw - 768px) * 33 / 1032 + 27px); /* 60 -> 27 @1800 -> 768*/
	line-height: calc((100vw - 768px) * 41 / 1032 + 34px); /* 75 -> 34 @1800 -> 768*/
}
.acc-row .ps-desc:last-of-type p {
	margin-bottom: 0;
}
.account, .account li {
	font-family: HeeboLight;
	font-size: calc((100vw - 768px) * 10 / 1032 + 8px); /* 18 -> 8 @1800 -> 768*/
	line-height: calc((100vw - 768px) * 15 / 1032 + 13px); /* 28 -> 13 @1800 -> 768*/
	color: #677684;
}
.account b {
	font-family: HeeboMedium;
	color: #1a1a1f;
	font-weight: 500;
}

/* login banner */

.acc-intro {
	width: 33.333%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #0b364e;
	padding-top: calc((100vw - 768px) * 66 / 1032 + 54px); /* 120 -> 54 @1800 -> 768*/
	padding-bottom: calc((100vw - 768px) * 27 / 1032 + 23px); /* 50 -> 23 @1800 -> 768*/
	row-gap: calc((100vw - 768px) * 27 / 1032 + 23px); /* 50 -> 23 @1800 -> 768*/
	position: fixed;
	z-index: 50;
}
.ac-login {
	right: 0;
	left: unset;
}
.ac-signup, .ac-support {
	left: 0;
	right: unset;
}

.ai-txt {
	width: calc((100vw - 768px) * 242 / 1032 + 198px); /* 440 -> 198 @1800 -> 768*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.ai-title {
	font-family: HeeboXLight;
	font-size: calc((100vw - 768px) * 33 / 1032 + 27px); /* 60 -> 27 @1800 -> 768*/
	line-height: calc((100vw - 768px) * 41 / 1032 + 34px); /* 75 -> 34 @1800 -> 768*/
	color: #51d0d4;
}
.ai-desc {
	font-family: HeeboLight;
	font-size: calc((100vw - 768px) * 10 / 1032 + 8px); /* 18 -> 8 @1800 -> 768*/
	line-height: calc((100vw - 768px) * 15 / 1032 + 13px); /* 28 -> 15 @1800 -> 768*/
	color: #d9d8d8;
	margin-top: calc((100vw - 768px) * 5 / 1032 + 5px); /* 10 -> 5 @1800 -> 768*/
}
.ai-btn {
	min-width: calc((100vw - 768px) * 82 / 1032 + 68px); /* 150 -> 68 @1800 -> 768*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: HeeboSemiBold;
	font-size: calc((100vw - 768px) * 12 / 1032 + 10px); /* 22 -> 10 @1800 -> 768*/
	color: #0f4761;
	background-color: #ffffff;
	border-radius: 50px;
	padding: calc((100vw - 768px) * 6 / 1032 + 5px) calc((100vw - 768px) * 16 / 1032 + 14px); /* 11 -> 5 30 -> 14 @1800 -> 768*/
	margin-top: calc((100vw - 768px) * 25 / 1032 + 20px); /* 45 -> 20 @1800 -> 768*/
	cursor: pointer;
}
.ai-btn:hover {
	opacity: 0.8;
}
.ai-img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ac-login .ai-img  {
	width: calc((100vw - 768px) * 220 / 1032 + 180px); /* 400 -> 180 @1800 -> 768*/
}
.ac-signup .ai-img {
	width: calc((100vw - 768px) * 275 / 1032 + 225px); /* 500 -> 225 @1800 -> 768*/
}
.ac-support .ai-img  {
	width: calc((100vw - 768px) * 149 / 1032 + 122px); /* 271 -> 122 @1800 -> 768*/
}

/* form */
.acc-form {
	width: 66.666%;
	display: flex;
	align-items: center;
	margin-top: calc((100vw - 768px) * 82 / 1032 + 68px); /* 150 -> 68 @1800 -> 768*/
	margin-bottom: calc((100vw - 768px) * 55 / 1032 + 45px); /* 100 -> 45 @1800 -> 768*/
	row-gap: calc((100vw - 768px) * 27 / 1032 + 23px); /* 50 -> 23 @1800 -> 768*/
	overflow: scroll;
}

/* nav btns */
.fr-nav .fr-submit {
	background: rgb(30,141,175);
	background: linear-gradient(167deg, rgba(30,141,175,1) 0%, rgba(23,106,136,1) 100%);
}



/*###### RESPONSIVE ######*/

@media only screen and (max-width: 768px) {
	.acc-row {
		width: calc((100vw - 425px) * 64 / 343 + 254px); /* 318 -> 254 @768 -> 425*/
		row-gap: calc((100vw - 425px) * 4 / 343 + 14px); /* 18 -> 14 @768 -> 425*/
	}
	.acc-row:not(.acc-title) {
		row-gap: calc((100vw - 425px) * 4 / 343 + 14px); /* 18 -> 14 @768 -> 425*/
	}
	.acc-title .ps-title {
		font-size: calc((100vw - 425px) * 7 / 343 + 29px); /* 36 -> 29 @768 -> 425*/
		line-height: calc((100vw - 425px) * 9 / 343 + 36px); /* 45 -> 36 @768 -> 425*/
	}
	.account, .account li {
		font-family: HeeboRegular;
		font-size: calc((100vw - 425px) * 2 / 343 + 9px); /* 11 -> 9 @768 -> 425*/
		line-height: calc((100vw - 768px) * 3 / 1032 + 14px); /* 17 -> 14 @1800 -> 768*/
	}

	/* login banner */

	.acc-intro {
		width: 100%;
		height: unset;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-top: calc((100vw - 425px) * 6 / 343 + 24px); /* 30 -> 24 @768 -> 425*/
		padding-bottom: calc((100vw - 425px) * 10 / 343 + 40px); /* 50 -> 40 @768 -> 425*/
		column-gap: calc((100vw - 425px) * 6 / 343 + 24px); /* 30 -> 24 @768 -> 425*/
		right: unset;
		bottom: 0;
	}
	.ai-txt {
		width: 40%;
	}
	.ai-title {
		font-size: calc((100vw - 425px) * 7 / 343 + 29px); /* 36 -> 29 @768 -> 425*/
		line-height: calc((100vw - 425px) * 9 / 343 + 36px); /* 45 -> 36 @768 -> 425*/
	}
	.ai-desc {
		font-size: calc((100vw - 425px) * 2 / 343 + 9px); /* 11 -> 9 @768 -> 425*/
		line-height: calc((100vw - 425px) * 3 / 343 + 14px); /* 17 -> 14 @768 -> 425*/
		margin-top: calc((100vw - 425px) * 1 / 343 + 5px); /* 6 -> 5 @768 -> 425*/
	}
	.ai-btn {
		min-width: calc((100vw - 425px) * 18 / 343 + 72px); /* 90 -> 72 @768 -> 425*/
		font-size: calc((100vw - 425px) * 3 / 343 + 10px); /* 13 -> 10 @768 -> 425*/
		padding: calc((100vw - 425px) * 1 / 343 + 6px) calc((100vw - 425px) * 4 / 343 + 14px); /* 7 -> 6 18 -> 14 @768 -> 425*/
		margin-top: calc((100vw - 425px) * 5 / 343 + 22px); /* 27 -> 22 @768 -> 425*/
	}
	.ai-img  {
		width: 45%
	}

	/* form */
	.acc-form {
		width: 100%;
		margin-top: calc((100vw - 425px) * 18 / 343 + 72px); /* 90 -> 72 @768 -> 425*/
		margin-bottom: calc((100vw - 425px) * 12 / 343 + 48px); /* 60 -> 48 @768 -> 425*/
		row-gap: calc((100vw - 425px) * 6 / 343 + 24px); /* 30 -> 24 @768 -> 425*/
	}

}