 html, body {
	 scroll-behavior: smooth;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none !important;
	text-size-adjust: none;
	font-size: 100%;
 }
 body {
    width: 100%;
    margin: 0px;
 }
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

 img {
	 width: 100%;
	 height: auto;
	 display: block;
}
ul, ol {
	margin-top: 0;
	padding-inline-start: calc((100vw - 768px) * 6 / 1032 + 11px); /* 17 -> 11 @1800 -> 768*/
}
p:not(:last-child) {
	margin-bottom: calc((100vw - 768px) * 8 / 1032 + 7px); /* 15 -> 7 @1800 -> 768*/
}
li:not(:last-child) {
	margin-bottom: calc((100vw - 768px) * 5 / 1032 + 5px); /* 10 -> 5 @1800 -> 768*/
}
p:last-child, li(:last-child) {
	margin-bottom: 0;
}

.pointer {
	cursor: pointer;
}	
.anchor {
	position: absolute;
	margin-top: calc((100vw - 425px) * -70 / 2135 + -15px); /* -85 -> -15 @2560 -> 425*/
}
.hide {
	display: none;
}
.show {
	display: none;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: calc((100vw - 320px) * 4/2240 + 4px) !important;
    height: calc((100vw - 320px) * 3/2240 + 5px) !important
}

::-webkit-scrollbar-thumb {
    background: #c8d1d8;
    border-radius: 10px;
    border: 1px solid #c8d1d8
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

@media only screen and (min-width: 768px) {
	.desktop {display: unset;}
	.mobile {display: none;}
	
}
@media only screen and (max-width: 767px) {
	.desktop {display: none;}
	.mobile {display: unset;}
	
	ul, ol {
		padding-inline-start: calc((100vw - 425px) * 3 / 343 + 15px); /* 18 -> 15 @768 -> 425*/
	}
	li:not(:last-child) {
		margin-bottom: calc((100vw - 425px) * 1 / 343 + 5px); /* 6 -> 5 @768 -> 425*/
	}
	p:not(:last-child) {
		margin-bottom: calc((100vw - 425px) * 2 / 343 + 7px); /* 9 -> 7 @768 -> 425*/
	}
	li:not(:last-child) {
		margin-bottom: calc((100vw - 425px) * 1 / 343 + 5px); /* 6 -> 5 @768 -> 425*/
	}
	
}
