@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Light.woff2') format('woff2'),
        url('PierSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Regular.woff2') format('woff2'),
        url('PierSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Bold.woff2') format('woff2'),
        url('PierSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('PierSans-Medium.woff2') format('woff2'),
        url('PierSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

